@import '../../../../shared/styles/variables.scss';

#criteria-input {
  border: none;
  outline: none;
}

.sorting-input__label {
  font-size: 14px;
  color: $header-button-color;
  margin: 0 10px;
}
