$bg-color: #E5E5E5;

* {
    margin: 5px;
}

.header__wrapper {
    background-color: $bg-color;
    padding: 5px 10vw;
    margin: 20px;
}

.header__visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-container {
    display: flex;
    margin-left: 30px;
    align-items: center;
    & .logo {
      display: block;
      background: url('../../assets/logo.svg');
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      &:hover {
        opacity: 0.9;
      }
    }
    & .header__settings-button {
        display: block;
        width: 24px;
        height: 24px;
        outline: none;
        background-color: #2F7FEE;
        padding: 1px;
        border-radius: 7px;
        box-shadow: 2px 0px 4px 0px #2f80ed;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
}

auth {
    display: flex;
}
  