@import '../../../shared/styles/variables.scss';

.not-found__wrapper {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}

.not-found__button {
  width: 55px;
  height: 50px;
  background: no-repeat url('../../../../assets/404.svg');
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.not-found__text {
  padding-left: 10px;
}
