<div class="login">
  <h4 class="login__title">Login</h4>
  <form class="login__form" [formGroup]="loginForm">
    <label class="login__label">login</label>
    <input
      placeholder="Your Name"
      formControlName="login"
      class="login__input"
      type="text"
    >
    <small
    class="login__input-error"
    *ngIf="loginForm.get('login')?.hasError('required')"
    > Please enter a login email </small>
    <small
    class="login__input-error"
    *ngIf="loginForm.get('login')?.hasError('email')"
    > The login email is invalid </small>
    <label class="login__label">password</label>
    <input
      placeholder="Enter Password"
      formControlName="password"
      class="login__input"
      type="text"
    >
    <small
      class="login__input-error"
      *ngIf="loginForm.get('password')?.hasError('required')"
    > Please enter a password </small>
    <small
    class="login__input-error"
    *ngIf="loginForm.get('password')?.hasError('minlength')"
    > Password must be at least 8 characters long </small>
    <small
    class="login__input-error"
    *ngIf="loginForm.get('password')?.hasError('pattern')"
    > Password must include uppercase and lowercase letters, number and at least one special character, e.g., ! @ # ? ] </small>
    <button class="login__button"
      type="submit"
      [disabled]="loginForm.invalid"
      (click)="submitForm()">Login</button>
  </form>
</div>
