@import '../../../../shared/styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 263px;
  height: 327px;
  margin: 10px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  justify-content: space-between;
  background-color: $card-bg-color;
  border-radius: 5px;
  &__img {
    width: 100%;
    height: 163px;
  }
  &__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    width: 20px;
    height: 13px;
  }
  &__span {
    font-size: 12px;
  }
  &__views-icon {
    background: center / contain no-repeat url('../../../../../assets/views.png');
  }
  &__likes-icon {
    background: center / contain no-repeat url('../../../../../assets/likes.png');
  }
  &__dislikes-icon {
    background: center / contain no-repeat url('../../../../../assets/dislike.png');
  }
  &__comments-icon {
    background: center / contain no-repeat url('../../../../../assets/comments.png');
  }
  &__button {
    margin: 5px auto 0 auto;
    padding: 8px 35px;
    color: $white-color;
    background-color: $button-color;
    box-shadow: 6px 2px 10px $button-color;
    border: none;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  &__item-title {
    margin-top: 6px;
  }
}
